* {
    margin: 0;
    padding: 0;
  }

  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #10101E; 
  }

  .app-container {
    color: #fff;
    background: #10101E;
    font-family: "segoe UI" sans-serif;
    width: 340px;
    padding: 35px 10px;
    border: 3px solid #2E94E3;
    border-radius: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
    transition: 0.5s;
    transition-property: background, box-shadow;
  }

  .app-container:hover {
    background: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
  }

  .app span {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
  }

  .app input[type="text"], p {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .app p {
    font-size: 30px;
  }

  .app input[type="button"] {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

